html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

}

img:hover {
  transform: translateY(-30px);

}
 button {
   background-color: aquamarine;
   color: blue;
   padding: 12px;
   width: 150px;
   font-size: 15px;
   border-radius: 25px;
   cursor: pointer;
   margin-bottom:10px;
 }
 button:hover {
   background-color: chartreuse;
 }
 #view-students {
   background-color: transparent;
   border: 1px solid black;
   color: brown;
 }